---
name: Spelling Check action test

on:
  push:
    tags:
      - "v*"
    branches:
      - main
      - pre-release
  pull_request:

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    name: ${{ matrix.image }}, version ${{ matrix.tag }}
    container:
      image: ${{ matrix.image }}:${{ matrix.tag }}
    strategy:
      fail-fast: false
      matrix:
        image: ["rocker/tidyverse"]
        tag: ["4.1.2"]
        repo: ["insightsengineering/r.pkg.template"]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Checkout test repo
        uses: actions/checkout@v2
        with:
          repository: insightsengineering/r.pkg.template
          path: ${{ matrix.repo }}
          

      - name: Test action for ${{ matrix.repo }}
        uses: ./
        with:
          path: ${{ matrix.repo }}
          exclude: "inst/extdata"
